<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wfaxxdyy.mall.mallorder.dao.OrderMapper">

    <select id="getCartList" resultType="com.wfaxxdyy.mallinterface.bean.CartBean">
        select * from cart where username=#{username}
    </select>

    <insert id="addCart">
        insert into cart (username,p_id,p_name,p_money,p_image,productNum) values(#{username},#{p_id},#{p_name},#{p_money},#{p_image},#{productNum})
    </insert>

    <update id="updateCartList">
        update cart set productNum=#{productNum} where username=#{username} and p_name=#{p_name}
    </update>

    <delete id="delCartBean">
        delete from cart where username=#{username} and p_id=#{p_id}
    </delete>

    <update id="editCart">
        update cart set productNum=#{productNum} where username=#{username} and p_id=#{p_id}
    </update>

    <insert id="addAddress">
        insert into address (username,a_username,a_tel,a_street,a_default) values(#{username},#{address.a_username},#{address.a_tel},#{address.a_street},#{address.a_default})
    </insert>

    <select id="getAddressList" resultType="com.wfaxxdyy.mallinterface.bean.Address">
        select * from address where username=#{username}
    </select>

    <update id="updateAddress">
        update address set a_username=#{address.a_username},a_tel=#{address.a_tel},a_street=#{address.a_street}  where username=#{username} and a_id=#{address.a_id}
    </update>

    <delete id="delAddress">
        delete from address where username=#{username} and a_id=#{a_id}
    </delete>

    <insert id="submitOrder">
        <selectKey keyProperty="order.o_id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into orders (username,o_username,o_tel,o_street) values(#{username},#{order.o_username},#{order.o_tel},#{order.o_street})
    </insert>

    <select id="getOrder" resultType="com.wfaxxdyy.mallinterface.bean.Order">
        select * from orders where username=#{username} and o_id=#{o_id}
    </select>

    <delete id="cleanOrder">
        delete from cart where username=#{username}
    </delete>

    <insert id="payment">
        insert into payment (orderId,username,nickName,money,info,email,payType)
        values(#{payInfo.orderId},#{username},#{payInfo.nickName},#{payInfo.money},#{payInfo.info},#{payInfo.email},#{payInfo.payType})
    </insert>

</mapper>
